USE [master]
GO
/****** Object:  Database [SmartWarehouseDB]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE DATABASE [SmartWarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartWarehouseDB', FILENAME = N'D:\SQLServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\SmartWarehouseDB.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartWarehouseDB_log', FILENAME = N'D:\SQLServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\SmartWarehouseDB_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartWarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartWarehouseDB]
GO
/****** Object:  User [InventoryManagerUser]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE USER [InventoryManagerUser] FOR LOGIN [InventoryManagerLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetAvailableQuantity]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetAvailableQuantity]
(
    @ProductID INT
)

RETURNS INT
AS
BEGIN

    DECLARE @Qty INT;

    SELECT @Qty = COUNT(*)

    FROM ProductUnits

    WHERE ProductID = @ProductID
    AND Status = 'Stored';

    RETURN @Qty;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerOrdersCount]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetCustomerOrdersCount]
(
    @CustomerID INT
)

RETURNS INT
AS
BEGIN

    DECLARE @Count INT;

    SELECT @Count = COUNT(*)

    FROM Orders

    WHERE CustomerID = @CustomerID;

    RETURN @Count;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetFullLocation]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetFullLocation]
(
    @LocationID INT
)

RETURNS VARCHAR(200)
AS
BEGIN

    DECLARE @Location VARCHAR(200);

    SELECT
        @Location =
            Zone + '-' +
            Aisle + '-' +
            Rack + '-' +
            Shelf + '-' +
            Bin

    FROM WarehouseLocations

    WHERE LocationID = @LocationID;

    RETURN @Location;

END;
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](100) NOT NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Category] [varchar](100) NULL,
	[Weight] [decimal](10, 2) NULL,
	[Dimensions] [varchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductUnits]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUnits](
	[UID] [bigint] IDENTITY(100000,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SerialNumber] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[LocationID] [int] NULL,
	[ReceivedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CurrentInventory]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CurrentInventory]

AS

SELECT
    p.ProductName,
    p.SKU,
    pu.UID,
    pu.Status,
    dbo.fn_GetFullLocation(pu.LocationID)
    AS WarehouseLocation

FROM ProductUnits pu

JOIN Products p
ON pu.ProductID = p.ProductID;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
	[City] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PendingOrders]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PendingOrders]

AS

SELECT
    o.OrderID,
    c.FullName,
    o.OrderDate,
    o.Status

FROM Orders o

JOIN Customers c
ON o.CustomerID = c.CustomerID

WHERE o.Status = 'Pending';
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopProducts]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TopProducts]

AS

SELECT
    p.ProductName,
    COUNT(*) AS OrdersCount

FROM OrderItems oi

JOIN Products p
ON oi.ProductID = p.ProductID

GROUP BY p.ProductName;
GO
/****** Object:  View [dbo].[vw_InventorySummary]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_InventorySummary]

AS

SELECT
    p.ProductName,
    p.SKU,
    COUNT(*) AS Quantity

FROM ProductUnits pu

JOIN Products p
ON pu.ProductID = p.ProductID

GROUP BY
    p.ProductName,
    p.SKU;
GO
/****** Object:  View [dbo].[vw_PendingOrdersSummary]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PendingOrdersSummary]

AS

SELECT
    o.OrderID,
    c.FullName,
    o.OrderDate

FROM Orders o

JOIN Customers c
ON o.CustomerID = c.CustomerID

WHERE o.Status = 'Pending';
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[Operation] [varchar](50) NULL,
	[ObjectName] [varchar](100) NULL,
	[ObjectType] [varchar](50) NULL,
	[OperationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InboundShipments]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboundShipments](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ArrivalDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryMovements]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryMovements](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [bigint] NOT NULL,
	[FromLocation] [int] NULL,
	[ToLocation] [int] NULL,
	[MovementType] [varchar](50) NULL,
	[MovementDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginAudit]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAudit](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[LoginTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](255) NULL,
	[ContactName] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseLocations]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseLocations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[Zone] [varchar](10) NULL,
	[Aisle] [varchar](10) NULL,
	[Rack] [varchar](10) NULL,
	[Shelf] [varchar](10) NULL,
	[Bin] [varchar](10) NULL,
	[Capacity] [int] NULL,
	[CurrentLoad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [varchar](100) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductID]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductID] ON [dbo].[OrderItems]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Customer_Status]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Customer_Status] ON [dbo].[Orders]
(
	[CustomerID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerID]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderDate]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderDate] ON [dbo].[Orders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_SKU]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_SKU] ON [dbo].[Products]
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductUnits_UID]    Script Date: 5/22/2026 3:11:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductUnits_UID] ON [dbo].[ProductUnits]
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [OperationDate]
GO
ALTER TABLE [dbo].[InboundShipments] ADD  DEFAULT (getdate()) FOR [ArrivalDate]
GO
ALTER TABLE [dbo].[InventoryMovements] ADD  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[LoginAudit] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductUnits] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[ProductUnits] ADD  DEFAULT (getdate()) FOR [ReceivedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarehouseLocations] ADD  DEFAULT ((0)) FOR [CurrentLoad]
GO
ALTER TABLE [dbo].[InboundShipments]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[ProductUnits] ([UID])
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_FromLocation] FOREIGN KEY([FromLocation])
REFERENCES [dbo].[WarehouseLocations] ([LocationID])
GO
ALTER TABLE [dbo].[InventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_FromLocation]
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_ToLocation] FOREIGN KEY([ToLocation])
REFERENCES [dbo].[WarehouseLocations] ([LocationID])
GO
ALTER TABLE [dbo].[InventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_ToLocation]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[ProductUnits]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductUnits]  WITH CHECK ADD  CONSTRAINT [FK_ProductUnits_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[WarehouseLocations] ([LocationID])
GO
ALTER TABLE [dbo].[ProductUnits] CHECK CONSTRAINT [FK_ProductUnits_Location]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[WarehouseLocations]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrderItem]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddOrderItem]

    @OrderID INT,
    @ProductID INT,
    @Quantity INT

AS
BEGIN

    INSERT INTO OrderItems
    (
        OrderID,
        ProductID,
        Quantity
    )

    VALUES
    (
        @OrderID,
        @ProductID,
        @Quantity
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProduct]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddProduct]

    @SKU VARCHAR(100),
    @ProductName VARCHAR(255),
    @Category VARCHAR(100),
    @Weight DECIMAL(10,2),
    @Dimensions VARCHAR(100)

AS
BEGIN

    INSERT INTO Products
    (
        SKU,
        ProductName,
        Category,
        Weight,
        Dimensions
    )

    VALUES
    (
        @SKU,
        @ProductName,
        @Category,
        @Weight,
        @Dimensions
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProductUnit]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddProductUnit]

    @ProductID INT,
    @SerialNumber VARCHAR(100)

AS
BEGIN

    INSERT INTO ProductUnits
    (
        ProductID,
        SerialNumber
    )

    VALUES
    (
        @ProductID,
        @SerialNumber
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSupplier]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddSupplier]

    @CompanyName VARCHAR(255),
    @ContactName VARCHAR(255),
    @Phone VARCHAR(20),
    @Address VARCHAR(255)

AS
BEGIN

    INSERT INTO Suppliers
    (
        CompanyName,
        ContactName,
        Phone,
        Address
    )

    VALUES
    (
        @CompanyName,
        @ContactName,
        @Phone,
        @Address
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignLocation]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AssignLocation]

    @UID BIGINT,
    @LocationID INT

AS
BEGIN

    UPDATE ProductUnits
    SET LocationID = @LocationID

    WHERE UID = @UID;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateOrder]

    @CustomerID INT

AS
BEGIN

    INSERT INTO Orders
    (
        CustomerID
    )

    VALUES
    (
        @CustomerID
    );

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceiveShipment]    Script Date: 5/22/2026 3:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReceiveShipment]

    @SupplierID INT,
    @Status VARCHAR(50)

AS
BEGIN

    INSERT INTO InboundShipments
    (
        SupplierID,
        ArrivalDate,
        Status
    )

    VALUES
    (
        @SupplierID,
        GETDATE(),
        @Status
    );

END;
GO
USE [master]
GO

